body {
  margin: 0;
  font-family: sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  display: block;
  border: 1px solid #eee;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

button:hover {
  cursor: pointer;
}

#authorize_button {
  background: #35A52D;
}

#signout_button {
  background: #ff4040;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container-title {
  text-transform: uppercase;
}

#main-container-info-text {
  margin: 20px;
}
